.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid #FFE66D;
    border-top: 20px solid #4ECDC4;
    position: absolute;
    top: 200px;
    left: 600px;
    animation: spinanimate 1s ease-in-out 0s infinite normal ;
   
}
@keyframes spinanimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
        
   
}